::-webkit-scrollbar{
   width: 10px;
}

::-webkit-scrollbar-track{
   background-color: transparent;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
   background-color: #0093E9;
   background-image: linear-gradient(320deg, #0094e9 0%, #80D0C7 100%);
   border-radius: 30px;
   
  
}
.SidebarNav{
   font-size: 18px;
   
}
.SidebarNav a{
   color: #0B0C0D!important;
   font-family: oswald;
}
.SidebarNav:hover{
   background: #F2F2F2;
   padding-left: -15px;
   color: #0B0C0D;
}
.SidebarNav:hover a{
   color: #F24405!important;
}


