.App{
   min-height: 100vh;


}
.clildOne{
  
       padding: 5px;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 15px;
   /* width: 12vw; */
   box-shadow:0 0 1rem 0 rgba(0, 0, 0, .2); 
   min-height: 86vh;
}
